infrastructure/terraform/.terraform
infrastructure/terraform/terraform.tfstate.backup

infrastructure/dependencies/terraform/.terraform
infrastructure/dependencies/terraform/terraform.tfstate.backup

