infrastructure/terraform/.terraform
infrastructure/terraform/.terraform.lock.hcl
infrastructure/terraform/terraform.tfstate
infrastructure/terraform/terraform.tfstate.backup

infrastructure/dependencies/terraform/.terraform
infrastructure/dependencies/terraform/.terraform.lock.hcl
infrastructure/dependencies/terraform/terraform.tfstate
infrastructure/dependencies/terraform/terraform.tfstate.backup

